# 实习一：数据库应用案例设计

成员：陈嘉2000013094  马佳媛2000013121  黄粤2000013095

In [1]:
%load_ext sql

In [2]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2000013094:stu2000013094@162.105.146.37:43306

In [3]:
%sql use stu2000013094;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.

[]

In [4]:
%sql show tables;

 * mysql://stu2000013094:***@162.105.146.37:43306
17 rows affected.

[('article',),
 ('barrage',),
 ('coin',),
 ('collect',),
 ('comment',),
 ('comment_post',),
 ('creation',),
 ('fans',),
 ('favorites',),
 ('liked',),
 ('liked_post',),
 ('message',),
 ('post',),
 ('share',),
 ('share_post',),
 ('user_bi',),
 ('video',)]

本次实习的目标是设计哔哩哔哩数据库，包括列举业务需求、设计ER图、将ER图转换为关系表、用SQL语句实现业务功能。

## 一、业务需求
哔哩哔哩，简称B站，是中国年轻世代高度聚集的文化社区和视频网站。在本次实习中，我们主要关注其创作交流与文化社区职能。其中，创作内容分为视频与专栏两大类，文化社区职能又可分为私信和动态发布两部分。
* __创作交流__：每个用户可以发布自己的创作内容，并浏览任意创作内容。用户可以对创作内容进行点赞、评论、收藏和分享，如果该创作内容是视频，则还可以投币和发送弹幕。每位用户收藏的创作内容位于自己的收藏夹中，并具有可见性的权限设置，其他用户只能查看权限向自己开放的收藏夹及其内容。
* __私信__：任意两个用户之间可以互相收发私信。
* __动态发布__：每个创作内容会生成一条动态帖子，每个用户也可以主动发布动态帖子，该动态帖子可被所有用户查看，但只对用户本人及其粉丝群体进行主动推送。用户可以对动态帖子进行评论、点赞和转发。

## 二、ER图设计
根据上述业务需求分析，我们进行如下的实体与联系设计。

### 1. 实体
我们先设立5种强实体，并确定它们各自的属性（主码用下划线来标识）：
* __用户__（<u>用户ID</u>、签名、地区、性别、联系方式、等级、硬币数、关注数、投稿数、粉丝数）
* __私信__（<u>私信ID</u>、私信内容、私信时间、私信类型）
* __创作内容条目__（<u>创作内容ID</u>、创作内容、创作类型、分享链接、发布时间、点赞量、分享量、评论量、作者）
* __动态帖子__（<u>动态ID</u>、作者、动态内容、发布时间、动态类型、点赞数、评论数、转发数）
* __收藏夹__（<u>收藏夹ID</u>、名称、创建时间、可见性）

将创作内容条目根据内容类型特化后产生2个新的实体，它们在具有上述创作内容条目中所有属性的基础上，还具有各自特殊的属性（以下略去创作内容条目中已包含的部分）：
* __视频__（播放量、投币量、弹幕量、视频分区）
* __专栏__（专栏分类、阅读量）

由于各种类型的互动建立在相关内容的基础上，为了清晰描述这些互动（如：评论、分享、投币等）与各创作内容之间的对应关系，我们将其设立为弱实体。这些弱实体的主码由对应互动内容（创作内容条目或者动态帖子）的主码与互动操作的分辨符组成。
* __评论__（<u>创作内容ID</u>、<u>评论ID</u>、评论内容、评论时间）
* __分享__（<u>创作内容ID</u>、<u>分享ID</u>、分享导语、分享时间）
* __投币__（<u>创作内容ID</u>、<u>投币ID</u>）
* __弹幕__（<u>创作内容ID</u>、<u>弹幕ID</u>、弹幕内容、弹幕类型、弹幕时间）
* __动态转发__（<u>动态ID</u>、<u>动态转发ID</u>、动态转发导语、转发时间）
* __动态评论__（<u>动态ID</u>、<u>动态评论ID</u>、动态评论内容、动态评论时间）


### 2. 联系
上述实体间存在如下联系：
* __粉丝__：用户与用户之间，多对多，用户关注其他用户则成为其他用户的粉丝，被关注则其他用户成为粉丝。该联系具有“关注时间”、“备注”的属性
* __发送私信__：用户与私信之间，一对多
* __接收私信__：用户与私信之间，一对多
* __发布创作内容__：用户与创作内容条目之间，一对多
* __发布动态__：用户与动态帖子之间，一对多
* __属于__：用户与收藏夹之间，一对多
* __生成__：创作内容条目与动态帖子之间，一对一
* __点赞__：用户与创作内容条目之间，多对多，该联系具有“点赞时间”的属性
* __动态点赞__：用户与动态帖子之间，多对多，该联系具有“动态点赞时间”的属性

对于投币、评论、分享、弹幕这四个弱实体，它们与创作内容条目有标识性联系，表示隶属关系。它们也与用户之间分别存在着“发送”或“选择”联系，即：
* __评论属于__：创作内容条目与评论之间，一对多
* __投币属于__：视频与投币之间，一对多
* __分享属于__：创作内容条目与分享之间，一对多
* __弹幕属于__：视频与弹幕之间，一对多
* __发送评论__：用户与评论之间，一对多
* __发送弹幕__：用户与弹幕之间，一对多
* __发送投币__：用户与投币之间，一对多，该联系具有“投币数”、“投币时间”的属性，其中“投币数”属性的取值范围为{1,2}
* __选择分享__：用户与分享之间，一对多，该联系具有“分享平台”的属性

类似的，对于动态评论、动态转发这两个弱实体，它们与动态帖子有标识性联系，表示隶属关系。它们也与用户之间分别存在着“发送”或“选择”联系，即：
* __动态评论属于__：动态帖子与动态评论之间，一对多
* __动态转发属于__：动态帖子与动态转发之间，一对多
* __选择转发__：用户与动态帖子之间，一对多，该联系具有“目的平台”的属性
* __发送动态评论__：“列表实体”与动态帖子之间，一对多

当关注其他用户后，被关注用户的动态帖子将被主动推送至关注者的动态界面。由于这种主动推送依赖粉丝关系，我们将用户与用户之间的粉丝联系聚集为一个实体集（称其为“列表实体”），然后再与动态帖子发生联系。
* __主动推送__：“列表实体”与动态帖子之间，多对多

由于一个用户可以拥有多个收藏夹，每个收藏夹都可以设置不同的可见权限，在用户进行创作内容的收藏时，可以选择将其放入不同的收藏夹中。为了区分不同的收藏夹，我们将用户与属于该用户的每个收藏夹分别聚集为实体集（称其为“指定收藏夹”），被收藏的创作内容存在于“指定收藏夹”中。
* __收藏__：“指定收藏夹”与创作内容条目之间，多对多，该联系具有“收藏时间”、“收藏备注”的属性


### 3. ER图
根据列出的实体和联系，我们可以绘制出ER图。（注：受绘图软件功能所限，弱实体的分辨符在图中用虚线椭圆框和实下划线表示。正常应该用虚下划线表示。）
![ER图](./ER.jpg)

## 三、关系表创建
完成ER图的设计后，要将其转换成关系表。

5个强实体各自对应一张表，随后的2个由强实体特化出的实体对应一张表，剩余6个弱实体表中应有强实体的主码，代表对强实体的依附。
4个多对多联系（粉丝、点赞、动态点赞、主动推送）需单独创建表，表的主码是联系双方的主码。
剩余的都是一对多联系，不需要创建单独的表，而应该将单方参与实体的码作为多方参与实体的属性.

共有17张表，下面我们一一进行创建。注释中包含着一些说明。

In [5]:
%%sql

set @@foreign_key_checks=0;

# 1. 创建用户表。
drop table if exists user_bi;

CREATE TABLE user_bi
(
    user_id INT NOT NULL PRIMARY KEY,#id
    user_name VARCHAR(100)  NOT NULL,#昵称
    user_area VARCHAR(50),#地区
    user_sig VARCHAR(200),#签名
    user_gender ENUM('男','女','不透露') NOT NULL,
    user_coin_num INT,#硬币数
    user_focus_num INT,#关注数
    user_fans_num INT,#粉丝数
    user_work_num INT,#作品数
    user_dyn_num INT#动态数
    
);



set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [6]:
%%sql

set @@foreign_key_checks=0;

# 2. 创建私信表。“发送私信”、“接收私信”是一对多联系，分别对应外码send_user_id, recv_user_id
drop table if exists message;

CREATE TABLE message
(
    msg_id INT PRIMARY KEY,#私信id
    msg_type ENUM('text','img','video','link') NOT NULL,
    msg_time DATETIME NOT NULL,#时间
    msg_content VARCHAR(200),#内容
    send_user_id INT NOT NULL,#发送方
    recv_user_id INT NOT NULL,#接收方
    constraint fk_msg_s foreign key(send_user_id) references user_bi(user_id),
    constraint fk_msg_r foreign key(recv_user_id) references user_bi(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [7]:
%%sql

set @@foreign_key_checks=0;

# 3. 创建动态帖子表。“作者”对应外码author_id，“创作内容条目”对应外码create_id
drop table if exists post;

CREATE TABLE post
(
    post_id INT PRIMARY KEY,#动态帖子id
    post_content VARCHAR(200) NOT NULL,#内容
    post_time DATETIME NOT NULL,#时间
    post_author_id INT NOT NULL,#作者id
    post_type ENUM('text','img','video','article','link') NOT NULL,
    post_like_recv INT,#获赞数
    post_comment_recv INT,#评论数
    post_share_recv INT,#分享数
    #post_create_id INT,
    #constraint fk_post_s foreign key(post_create_id) references creation(create_id)
    constraint fk_post_p foreign key(post_author_id) references user_bi(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [8]:
%%sql

set @@foreign_key_checks=0;

# 4. 创建收藏夹表。“属于用户”是一对多联系，分别对应外码owner_id
drop table if exists favorites;

CREATE TABLE favorites
(
    favorites_id INT PRIMARY KEY,#收藏夹id
    favorites_name VARCHAR(50) NOT NULL,#收藏夹名称
    favorites_time DATETIME NOT NULL,#收藏夹建立时间
    favorites_vis ENUM('public','private') NOT NULL,#可见性
    owner_id INT NOT NULL,#用户id
    constraint fk_favorites_s foreign key(owner_id) references user_bi(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [9]:
%%sql

set @@foreign_key_checks=0;

# 5. 创建创作内容条目表。“作者”是一对多联系，对应外码author_id,“动态帖子”是一对多联系，对应外码post_id
drop table if exists creation;

CREATE TABLE creation
(
    create_id INT PRIMARY KEY,#创作内容id
    create_content VARCHAR(200) NOT NULL,#内容
    create_type ENUM('video','article') NOT NULL,
    create_time DATETIME NOT NULL,#发布时间
    trans_link VARCHAR(200) NOT NULL,#分享链接
    create_recv_like INT,#获赞数
    create_recv_share INT,#分享数
    create_recv_comment INT,#评论数
    create_author_id INT NOT NULL,#作者id
    create_post_id INT NOT NULL,#关联的动态id
    constraint fk_create_s foreign key(create_author_id) references user_bi(user_id),
    constraint fk_create_p foreign key(create_post_id) references post(post_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [10]:
%%sql

set @@foreign_key_checks=0;

# 6. 创建专栏表。由于专栏是创作内容条目的特化，所以以一个创作内容条目表作为外码。
drop table if exists article;

CREATE TABLE article
(
    article_id INT NOT NULL PRIMARY KEY, #专栏id
    article_classify VARCHAR(50) NOT NULL,#专栏分类id
    article_read_num INT,#专栏阅读数
    constraint fk_article_a foreign key(article_id) references creation(create_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [11]:
%%sql

set @@foreign_key_checks=0;

# 7. 创建视频表。由于视频是创作内容条目的特化，所以以一个创作内容条目表作为外码
drop table if exists video;

CREATE TABLE video
(
    video_id INT NOT NULL PRIMARY KEY, #视频id
    video_classify VARCHAR(50) NOT NULL,#视频分区
    video_watch_num INT,#播放数
    video_recv_coin INT,#获得硬币数
    video_recv_barrage INT,#弹幕数
    constraint fk_video_v foreign key(video_id) references creation(create_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [12]:
%%sql

set @@foreign_key_checks=0;

# 8. 创建评论表。comment_id是分辨符，belong_post_id是强实体的主码。“发送评论”是一对多联系，comment_user_id是对应的外码
drop table if exists comment;

CREATE TABLE comment
(
    comment_id INT,#评论id
    comment_content VARCHAR(200) NOT NULL,#评论内容
    comment_time DATETIME NOT NULL,#评论时间
    belong_create_id INT NOT NULL,#评论属于的创作内容id
    comment_user_id INT NOT NULL,#发评论的用户id
    PRIMARY KEY(comment_id, belong_create_id),
    constraint fk_comment_c foreign key(comment_user_id) references user_bi(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [13]:
%%sql

set @@foreign_key_checks=0;

# 9. 创建分享表。share_id是分辨符，belong_create_id是强实体的主码。“分享”是一对多联系，share_user_id是对应的外码
drop table if exists share;

CREATE TABLE share
(
    share_id INT,#分享id
    share_content VARCHAR(200) NOT NULL,#分享附加的内容
    share_time DATETIME NOT NULL,#分型时间
    share_platform VARCHAR(50) NOT NULL,#分享平台
    belong_create_id INT NOT NULL,#分享的创作内容id
    share_user_id INT NOT NULL,#分享的用户id
    PRIMARY KEY(share_id, belong_create_id),
    constraint fk_share_s foreign key(share_user_id) references user_bi(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [14]:
%%sql

set @@foreign_key_checks=0;

# 10. 创建投币表。user_id和circle_id是用户和朋友圈帖子的主码
drop table if exists coin;

CREATE TABLE coin
(
    coin_id INT,#投币id
    coin_number INT NOT NULL,#投币数目
    coin_time DATETIME NOT NULL,#投币时间
    belong_create_id INT NOT NULL,#投币给的创作内容的id
    coin_user_id INT NOT NULL,#投币的用户id
    PRIMARY KEY(coin_id, belong_create_id),
    constraint fk_coin_c foreign key(coin_user_id) references user_bi(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [15]:
%%sql

set @@foreign_key_checks=0;

# 11. 创建弹幕表。user_id_send和user_id_visible合起来是“好友实体”的主码，liked_id和circle_id合起来是弱实体“点赞”的主码
drop table if exists barrage;

CREATE TABLE barrage
(
    barrage_id INT,#弹幕id
    barrage_content VARCHAR(200) NOT NULL,#弹幕内容
    barrage_time DATETIME NOT NULL,#弹幕时间
    barrage_color VARCHAR(50) NOT NULL,#弹幕颜色
    barrage_text_size INT NOT NULL,#弹幕大小
    belong_create_id INT NOT NULL,#弹幕所属的创作内容
    barrage_user_id INT NOT NULL,#发弹幕的用户id
    PRIMARY KEY(barrage_id, belong_create_id),
    constraint fk_barrage_b foreign key(barrage_user_id) references user_bi(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [16]:
%%sql

set @@foreign_key_checks=0;

# 12. 创建点赞表。
drop table if exists liked;

CREATE TABLE liked
(
    liked_id INT,#点赞id
    liked_create_id INT,#点赞的创作内容id
    liked_user_id INT NOT NULL,#给出点赞的用户id
    liked_time DATETIME NOT NULL,#点赞时间
    PRIMARY KEY(liked_id, liked_create_id),
    constraint fk_liked_l foreign key(liked_user_id) references user_bi(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [17]:
%%sql

set @@foreign_key_checks=0;

# 13. 创建收藏表。
drop table if exists collect;

CREATE TABLE collect
(
    collect_id INT,#收藏id
    collect_create_id INT,#收藏的创作内容id
    collect_user_id INT NOT NULL,#收藏的用户id
    collect_time DATETIME NOT NULL,#收藏时间
    collect_sig VARCHAR(100),#收藏备注
    collect_favorites INT,#所属收藏夹
    PRIMARY KEY(collect_id, collect_create_id),
    constraint fk_collect_c foreign key(collect_user_id) references user_bi(user_id),
    constraint fk_collect_s foreign key(collect_favorites) references favorites(favorites_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [18]:
%%sql

set @@foreign_key_checks=0;

# 14. 创建动态转发表。
drop table if exists share_post;

CREATE TABLE share_post
(
    share_post_id INT,#动态转发id
    share_post_content VARCHAR(200) NOT NULL,#动态转发内容
    share_post_time DATETIME NOT NULL,#动态转发时间
    share_post_platform VARCHAR(50) NOT NULL,#转发平台
    belong_post_id INT NOT NULL,#所转发的帖子id
    share_post_user_id INT NOT NULL,#转发的用户id
    PRIMARY KEY(share_post_id, belong_post_id),
    constraint fk_share_post_s foreign key(share_post_user_id) references user_bi(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [19]:
%%sql

set @@foreign_key_checks=0;

# 15. 创建动态评论表。comment_id是分辨符，belong_post_id是强实体的主码。“发送评论”是一对多联系，comment_user_id是对应的外码
drop table if exists comment_post;

CREATE TABLE comment_post
(
    comment_post_id INT,#动态评论id
    comment_post_content VARCHAR(200) NOT NULL,#评论内容
    comment_post_time DATETIME NOT NULL,#评论时间
    belong_create_id INT NOT NULL,#评论的动态id
    comment_post_user_id INT NOT NULL,#评论的用户id
    PRIMARY KEY(comment_post_id, belong_create_id),
    constraint fk_comment_post_c foreign key(comment_post_user_id) references user_bi(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [20]:
%%sql

set @@foreign_key_checks=0;

# 16. 创建动态点赞表。
drop table if exists liked_post;

CREATE TABLE liked_post
(
    liked_post_id INT,#动态点赞id
    liked_post_create_id INT,#动态点赞所属的帖子id
    liked_post_user_id INT NOT NULL,#动态点赞的用户id
    liked_post_time DATETIME NOT NULL,#动态点赞时间
    PRIMARY KEY(liked_post_id, liked_post_create_id),
    constraint fk_liked_post_l foreign key(liked_post_user_id) references user_bi(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [21]:
%%sql

set @@foreign_key_checks=0;

# 17. 创建粉丝表。
drop table if exists fans;

CREATE TABLE fans
(
    user_id_up INT,#up主
    user_id_fans INT,#粉丝
    focus_time DATE,#关注时间
    sig VARCHAR(50),#备注
    primary key(user_id_up,user_id_fans),
    constraint fk_fans_s foreign key(user_id_up) references user_bi(user_id),
    constraint fk_fans_r foreign key(user_id_fans) references user_bi(user_id)   
);
set @@foreign_key_checks=1;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

插入触发器，使得：
用户粉丝数、动态数、创作内容数自动更新；
动态帖子和创作内容的评论数、点赞数、转发数自动更新；
视频的投币数、弹幕数自动更新。

In [22]:
%%sql
#用户表相关的触发器
drop trigger if exists insert_fans;
create trigger insert_fans after insert 
    on fans for each row 
    update user_bi set user_fans_num=(select count(*) from fans where user_id_up = user_bi.user_id) where user_bi.user_id = new.user_id_up;

drop trigger if exists insert_dyn;
create trigger insert_dyn after insert 
    on post for each row 
    update user_bi set user_dyn_num=(select count(*) from post where post_author_id = user_bi.user_id) where user_bi.user_id = new.post_author_id;

drop trigger if exists insert_work;
create trigger insert_work after insert 
    on creation for each row 
    update user_bi set user_work_num=(select count(*) from creation where create_author_id = user_bi.user_id) where user_bi.user_id = new.create_author_id;

drop trigger if exists delete_fans;
create trigger delete_fans after delete
    on fans for each row 
    update user_bi set user_fans_num=(select count(*) from fans where user_id_up = user_bi.user_id) where user_bi.user_id = old.user_id_up;

drop trigger if exists delete_dyn;
create trigger delete_dyn after delete 
    on post for each row 
    update user_bi set user_dyn_num=(select count(*) from post where post_author_id = user_bi.user_id) where user_bi.user_id = old.post_author_id;

drop trigger if exists delete_work;
create trigger delete_work after delete
    on creation for each row 
    update user_bi set user_work_num=(select count(*) from creation where create_author_id = user_bi.user_id) where user_bi.user_id = old.create_author_id;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [23]:
%%sql
#动态帖子表相关的触发器
drop trigger if exists insert_post_like;
create trigger insert_post_like after insert 
    on liked_post for each row 
    update post set post_like_recv=(select count(*) from liked_post where liked_post_create_id = post.post_id) where post.post_id= new.liked_post_create_id;

drop trigger if exists insert_post_comment;
create trigger insert_post_comment after insert 
    on comment_post for each row 
    update post set post_comment_recv=(select count(*) from comment_post where comment_post_id = post.post_id) where post.post_id= new.comment_post_id;

drop trigger if exists insert_post_trans;
create trigger insert_post_trans after insert 
    on share_post for each row 
    update post set post_share_recv=(select count(*) from share_post where share_post_id = post.post_id) where post.post_id= new.share_post_id;

drop trigger if exists delete_post_like;
create trigger delete_post_like after delete
    on liked_post for each row 
    update post set post_like_recv=(select count(*) from liked_post where liked_post_create_id = post.post_id) where post.post_id= old.liked_post_create_id;

drop trigger if exists delete_post_comment;
create trigger delete_post_comment after delete
    on comment_post for each row 
    update post set post_comment_recv=(select count(*) from comment_post where comment_post_id = post.post_id) where post.post_id= old.comment_post_id;

drop trigger if exists delete_post_trans;
create trigger delete_post_trans after delete 
    on share_post for each row 
    update post set post_share_recv=(select count(*) from share_post where share_post_id = post.post_id) where post.post_id= old.share_post_id;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [24]:
%%sql
#创作内容表相关的触发器
drop trigger if exists insert_creation_like;
create trigger insert_creation_like after insert 
    on liked for each row 
    update creation set create_recv_like=(select count(*) from liked where liked_create_id = creation.create_id) where creation.create_id= new.liked_create_id;

drop trigger if exists delete_creation_like;
create trigger delete_creation_like after delete
    on liked for each row 
    update creation set create_recv_like=(select count(*) from liked where liked_create_id = creation.create_id) where creation.create_id= old.liked_create_id;
    
drop trigger if exists insert_creation_comment;
create trigger insert_creation_comment after insert 
    on comment for each row 
    update creation set create_recv_comment=(select count(*) from comment where belong_create_id = creation.create_id) where creation.create_id= new.belong_create_id;

drop trigger if exists delete_creation_comment;
create trigger delete_creation_comment after delete
    on comment for each row 
    update creation set create_recv_comment=(select count(*) from comment where belong_create_id = creation.create_id) where creation.create_id= old.belong_create_id;
    
drop trigger if exists insert_creation_trans;
create trigger insert_creation_trans after insert 
    on share for each row 
    update creation set create_recv_share=(select count(*) from share where belong_create_id = creation.create_id) where creation.create_id= new.belong_create_id;

drop trigger if exists delete_creation_trans;
create trigger delete_creation_trans after delete 
    on share for each row 
    update creation set create_recv_share=(select count(*) from share where belong_create_id = creation.create_id) where creation.create_id= old.belong_create_id;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [25]:
%%sql
#视频表相关的触发器
drop trigger if exists insert_barrage;
create trigger insert_barrage after insert 
    on barrage for each row 
    update video set video_recv_barrage=(select count(*) from barrage where belong_create_id = video.video_id) where video.video_id= new.belong_create_id;

drop trigger if exists delete_barrage;
create trigger delete_barrage after delete
    on barrage for each row 
    update video set video_recv_barrage = (select count(*) from barrage where belong_create_id = video.video_id) where video.video_id = old.belong_create_id;
    
drop trigger if exists insert_coin;
create trigger insert_coin after insert 
    on coin for each row 
    update video set video_recv_coin = video_recv_coin +new.coin_number WHERE video.video_id = NEW.belong_create_id;
    
drop trigger if exists delete_coin;
create trigger delete_coin after delete
    on coin for each row 
    update video set video_recv_coin = video_recv_coin - old.coin_number WHERE video.video_id = OLD.belong_create_id;

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [26]:
%%sql
/* 生成样例数据，给12张表插入一些条目 */
delete from fans;
delete from coin;
delete from liked;
delete from collect;
delete from comment;
delete from share_post;
delete from liked_post;
delete from share;
delete from barrage;
delete from article;
delete from video;
delete from creation;
delete from favorites;
delete from post;
delete from message;
delete from user_bi;

/* b站用户 */
INSERT INTO user_bi(user_id,user_name,user_area,user_sig,user_gender,user_coin_num,user_focus_num,user_fans_num,user_work_num,user_dyn_num) VALUES 
(200000001,'bilibili知名用户','北京','商务合作联系：xxxxxxxx','不透露',1021,102,0,0,0);
INSERT INTO user_bi(user_id,user_name,user_area,user_sig,user_gender,user_coin_num,user_focus_num,user_fans_num,user_work_num,user_dyn_num) VALUES 
(200000002,'bilibili简单创作用户','浙江','咕咕咕','男',715,500,0,0,0);
INSERT INTO user_bi(user_id,user_name,user_area,user_sig,user_gender,user_coin_num,user_focus_num,user_fans_num,user_work_num,user_dyn_num) VALUES 
(200000003,'bilibili最爱抽奖用户','广东','这个人很懒，什么都没有留下','男',308,2000,0,0,0);
INSERT INTO user_bi(user_id,user_name,user_area,user_sig,user_gender,user_coin_num,user_focus_num,user_fans_num,user_work_num,user_dyn_num) VALUES 
(200000004,'bilibili生活区up主','江苏','sharing lives','女',924,276,0,0,0);
INSERT INTO user_bi(user_id,user_name,user_area,user_sig,user_gender,user_coin_num,user_focus_num,user_fans_num,user_work_num,user_dyn_num) VALUES 
(200000005,'bilibili著名歌手','上海','知名歌手，代表作「Cyberangel」等','女',671,84,0,0,0);
INSERT INTO user_bi(user_id,user_name,user_area,user_sig,user_gender,user_coin_num,user_focus_num,user_fans_num,user_work_num,user_dyn_num) VALUES 
(200000006,'bilibili评论区up主','黑龙江','','不透露',779,894,0,0,0);

/*粉丝表*/
INSERT INTO fans(user_id_up, user_id_fans, focus_time,sig) VALUE(200000001, 200000002, '2020-05-01','');
INSERT INTO fans(user_id_up, user_id_fans, focus_time,sig) VALUE(200000001, 200000003, '2020-05-07','');
INSERT INTO fans(user_id_up, user_id_fans, focus_time,sig) VALUE(200000001, 200000005, '2020-09-01','');
INSERT INTO fans(user_id_up, user_id_fans, focus_time,sig) VALUE(200000004, 200000006, '2020-04-26','S');
INSERT INTO fans(user_id_up, user_id_fans, focus_time,sig) VALUE(200000005, 200000006, '2020-05-31','F');
INSERT INTO fans(user_id_up, user_id_fans, focus_time,sig) VALUE(200000002, 200000003, '2020-03-17','');
INSERT INTO fans(user_id_up, user_id_fans, focus_time,sig) VALUE(200000004, 200000003, '2020-11-27','');
INSERT INTO fans(user_id_up, user_id_fans, focus_time,sig) VALUE(200000005, 200000003, '2020-09-09','');
INSERT INTO fans(user_id_up, user_id_fans, focus_time,sig) VALUE(200000006, 200000003, '2020-11-11','');
INSERT INTO fans(user_id_up, user_id_fans, focus_time,sig) VALUE(200000004, 200000002, '2020-12-09','');
INSERT INTO fans(user_id_up, user_id_fans, focus_time,sig) VALUE(200000004, 200000005, '2020-08-03','');
INSERT INTO fans(user_id_up, user_id_fans, focus_time,sig) VALUE(200000005, 200000004, '2020-08-11','');
/*私信*/
INSERT INTO message(msg_id,msg_type,msg_time,msg_content,send_user_id,recv_user_id) VALUES(0, 'text', '2020-12-09 19:30:00', '感谢你的关注呀，这里是……', 200000004, 200000002);
INSERT INTO message(msg_id,msg_type,msg_time,msg_content,send_user_id,recv_user_id) VALUES(1, 'text', '2020-11-27 10:00:00', '感谢你的关注呀，这里是……', 200000004, 200000003);
INSERT INTO message(msg_id,msg_type,msg_time,msg_content,send_user_id,recv_user_id) VALUES(2, 'text', '2020-04-26 11:00:00', '感谢你的关注呀，这里是……', 200000004, 200000006);
INSERT INTO message(msg_id,msg_type,msg_time,msg_content,send_user_id,recv_user_id) VALUES(3, 'text', '2020-08-03 18:00:00', '感谢你的关注呀，这里是……', 200000004, 200000005);
INSERT INTO message(msg_id,msg_type,msg_time,msg_content,send_user_id,recv_user_id) VALUES(4, 'text', '2021-04-09 12:48:00', '转发成功，恭喜您参与了抽奖', 200000001, 200000003);
INSERT INTO message(msg_id,msg_type,msg_time,msg_content,send_user_id,recv_user_id) VALUES(5, 'link', '2021-04-11 19:30:00', '恭喜你在XXXX活动中抽到了XXXX福袋一份，请点击链接填写信息', 200000001, 200000003);
INSERT INTO message(msg_id,msg_type,msg_time,msg_content,send_user_id,recv_user_id) VALUES(6, 'img', '2022-01-01 00:00:00', 'photo: happy new year', 200000005, 200000004);
/*动态帖子*/
INSERT INTO post(post_id,post_content,post_time,post_author_id,post_type,post_like_recv,post_comment_recv,post_share_recv) VALUES
(0, '我发表了一首歌，快来听听吧', '2022-05-01 00:00:00', 200000005,'video',0,0,0);
INSERT INTO post(post_id,post_content,post_time,post_author_id,post_type,post_like_recv,post_comment_recv,post_share_recv) VALUES
(1, '转发动态，参与抽奖', '2022-03-01 17:00:00', 200000003,'link',0,0,0);
INSERT INTO post(post_id,post_content,post_time,post_author_id,post_type,post_like_recv,post_comment_recv,post_share_recv) VALUES
(2, '南锣鼓巷旅游指南', '2022-04-05 19:30:00', 200000004,'article',0,0,0);
INSERT INTO post(post_id,post_content,post_time,post_author_id,post_type,post_like_recv,post_comment_recv,post_share_recv) VALUES
(3, '我要好好学习，一定在这几天把实习写完', '2023-04-02 21:30:00', 200000002,'text',0,0,0);
INSERT INTO post(post_id,post_content,post_time,post_author_id,post_type,post_like_recv,post_comment_recv,post_share_recv) VALUES
(4, '今天也是精致打扮的up呢', '2022-05-05 13:30:00', 200000005,'img',0,0,0);
INSERT INTO post(post_id,post_content,post_time,post_author_id,post_type,post_like_recv,post_comment_recv,post_share_recv) VALUES
(5, '视频：新年快乐', '2022-12-31 00:00:00', 200000001,'video',0,0,0);
INSERT INTO post(post_id,post_content,post_time,post_author_id,post_type,post_like_recv,post_comment_recv,post_share_recv) VALUES
(6, '转发这条动态，我们将抽出一名幸运儿获得福袋', '2022-02-28 15:00:00', 200000004,'text',0,0,0);
/*收藏夹*/
INSERT INTO favorites(favorites_id,favorites_name,favorites_time,favorites_vis,owner_id) VALUES(0,'song','2020-01-09','public',200000005);
INSERT INTO favorites(favorites_id,favorites_name,favorites_time,favorites_vis,owner_id) VALUES(1,'study method','2021-09-09','private',200000003);
INSERT INTO favorites(favorites_id,favorites_name,favorites_time,favorites_vis,owner_id) VALUES(2,'我喜欢的视频','2021-11-29','public',200000006);

/*创作内容*/
INSERT INTO creation(create_id,create_content,create_type,create_time,trans_link,create_recv_like,create_recv_share,create_recv_comment,create_author_id,create_post_id) VALUES
(0,'BV1v4411A7oj','video','2022-05-01 00:00:00','bilibili/video/BV1v4411A7oj',0,0,0,200000005,0);
INSERT INTO creation(create_id,create_content,create_type,create_time,trans_link,create_recv_like,create_recv_share,create_recv_comment,create_author_id,create_post_id) VALUES
(1,'cv204157','article','2022-04-05 19:30:00','bilibili/read/cv204157',0,0,0,200000004,2);
INSERT INTO creation(create_id,create_content,create_type,create_time,trans_link,create_recv_like,create_recv_share,create_recv_comment,create_author_id,create_post_id) VALUES
(2,'BV1fP4y1v7eU','video','2022-12-31 00:00:00','bilibili/video/BV1fP4y1v7eU',0,0,0,200000001,5);
/*视频*/
INSERT INTO video(video_id,video_classify,video_watch_num,video_recv_coin,video_recv_barrage ) VALUES
(0,'song',100000,0,0);
INSERT INTO video(video_id,video_classify,video_watch_num,video_recv_coin,video_recv_barrage) VALUES
(2,'news',10000000,0,0);
/*专栏*/
INSERT INTO article(article_id,article_classify,article_read_num) VALUES(1,'生活',5000);
/*评论*/
INSERT INTO comment(comment_id,comment_content,comment_time,belong_create_id,comment_user_id) VALUES
(0,'好听，喜欢！','2022-05-01 08:00:00',0,200000004);
INSERT INTO comment(comment_id,comment_content,comment_time,belong_create_id,comment_user_id) VALUES
(1,'好耶，是新的歌曲！让我们一起感受……','2022-05-01 01:00:00',0,200000006);
INSERT INTO comment(comment_id,comment_content,comment_time,belong_create_id,comment_user_id) VALUES
(0,'新年快乐！','2023-01-01 01:01:00',2,200000004);
INSERT INTO comment(comment_id,comment_content,comment_time,belong_create_id,comment_user_id) VALUES
(0,'感谢up主的分享，文章很有用！【赞】','2022-05-01 19:01:00',1,200000002);
/*分享*/
INSERT INTO share(share_id,share_content,share_time,share_platform,belong_create_id,share_user_id) VALUES
(0,'大家一起来听新歌呀','2022-05-02 12:00:00','b站',0,200000004);
INSERT INTO share(share_id,share_content,share_time,share_platform,belong_create_id,share_user_id) VALUES
(0,'新年快乐，万事如意','2023-01-01 00:00:00','微信',2,200000002);
INSERT INTO share(share_id,share_content,share_time,share_platform,belong_create_id,share_user_id) VALUES
(1,'今天就去了这个地方，很棒的攻略！','2022-05-01 20:00:00','微博',0,200000002);
/*投币*/
INSERT INTO coin(coin_id,coin_number,coin_time,belong_create_id,coin_user_id) VALUES
(0,2,'2022-05-02 01:00:00',0,200000002);
INSERT INTO coin(coin_id,coin_number,coin_time,belong_create_id,coin_user_id) VALUES
(1,1,'2022-05-01 02:00:00',0,200000003);
INSERT INTO coin(coin_id,coin_number,coin_time,belong_create_id,coin_user_id) VALUES
(2,2,'2022-05-01 03:00:00',0,200000004);
INSERT INTO coin(coin_id,coin_number,coin_time,belong_create_id,coin_user_id) VALUES
(3,2,'2022-05-01 05:00:00',0,200000006);
INSERT INTO coin(coin_id,coin_number,coin_time,belong_create_id,coin_user_id) VALUES
(0,2,'2023-01-01 01:00:00',2,200000002);
INSERT INTO coin(coin_id,coin_number,coin_time,belong_create_id,coin_user_id) VALUES
(1,2,'2023-01-01 05:00:00',2,200000005);
/*弹幕*/
INSERT INTO barrage(barrage_id,barrage_content,barrage_time,barrage_color,barrage_text_size,belong_create_id,barrage_user_id) VALUES
(0,'好听，喜欢！','2022-05-01 08:00:00','red',12,0,200000004);
INSERT INTO barrage(barrage_id,barrage_content,barrage_time,barrage_color,barrage_text_size,belong_create_id,barrage_user_id) VALUES
(1,'新歌，喜欢！','2022-05-01 09:00:00','yellow',14,0,200000006);
INSERT INTO barrage(barrage_id,barrage_content,barrage_time,barrage_color,barrage_text_size,belong_create_id,barrage_user_id) VALUES
(0,'大家新年快乐','2023-01-01 01:00:00','red',12,2,200000004);
INSERT INTO barrage(barrage_id,barrage_content,barrage_time,barrage_color,barrage_text_size,belong_create_id,barrage_user_id) VALUES
(1,'大家新年快乐','2023-01-01 01:01:00','red',12,2,200000005);
/*点赞*/
INSERT INTO liked(liked_id,liked_create_id,liked_user_id,liked_time) VALUES
(0,0,200000002,'2022-05-01 08:01:00');
INSERT INTO liked(liked_id,liked_create_id,liked_user_id,liked_time) VALUES
(1,0,200000003,'2022-05-01 08:02:00');
INSERT INTO liked(liked_id,liked_create_id,liked_user_id,liked_time) VALUES
(2,0,200000004,'2022-05-01 08:03:00');
INSERT INTO liked(liked_id,liked_create_id,liked_user_id,liked_time) VALUES
(3,0,200000006,'2022-05-01 08:04:00');
INSERT INTO liked(liked_id,liked_create_id,liked_user_id,liked_time) VALUES
(0,1,200000006,'2022-05-01 19:00:00');
INSERT INTO liked(liked_id,liked_create_id,liked_user_id,liked_time) VALUES
(0,2,200000002,'2023-01-01 00:00:00');
INSERT INTO liked(liked_id,liked_create_id,liked_user_id,liked_time) VALUES
(1,2,200000003,'2023-01-01 00:01:00');
INSERT INTO liked(liked_id,liked_create_id,liked_user_id,liked_time) VALUES
(2,2,200000004,'2023-01-01 00:02:00');
INSERT INTO liked(liked_id,liked_create_id,liked_user_id,liked_time) VALUES
(3,2,200000005,'2023-01-01 00:03:00');
INSERT INTO liked(liked_id,liked_create_id,liked_user_id,liked_time) VALUES
(4,2,200000006,'2023-01-01 00:04:00');
/*动态转发*/
INSERT INTO share_post(share_post_id,share_post_content,share_post_time,share_post_platform,belong_post_id,share_post_user_id) VALUES
(0,'大家一起来听新歌呀','2022-05-02 12:00:00','b站',0,200000004);
INSERT INTO share_post(share_post_id,share_post_content,share_post_time,share_post_platform,belong_post_id,share_post_user_id) VALUES
(0,'新年快乐，万事如意','2023-01-01 00:00:00','b站',5,200000002);
INSERT INTO share_post(share_post_id,share_post_content,share_post_time,share_post_platform,belong_post_id,share_post_user_id) VALUES
(0,'今天就去了这个地方，很棒的攻略！','2022-05-01 20:00:00','b站',2,200000002);
INSERT INTO share_post(share_post_id,share_post_content,share_post_time,share_post_platform,belong_post_id,share_post_user_id) VALUES
(0,'转发动态，参与抽奖', '2022-03-01 17:00:00','b站',1, 200000003);
/*动态点赞*/
INSERT INTO liked_post(liked_post_id,liked_post_create_id,liked_post_user_id,liked_post_time) VALUES
(0,0,200000002,'2022-05-01 08:00:00');
INSERT INTO liked_post(liked_post_id,liked_post_create_id,liked_post_user_id,liked_post_time) VALUES
(1,0,200000006,'2022-05-01 08:03:00');
INSERT INTO liked_post(liked_post_id,liked_post_create_id,liked_post_user_id,liked_post_time) VALUES
(0,2,200000006,'2022-05-01 20:04:00');
INSERT INTO liked_post(liked_post_id,liked_post_create_id,liked_post_user_id,liked_post_time) VALUES
(0,4,200000004,'2022-05-06 08:01:00');
INSERT INTO liked_post(liked_post_id,liked_post_create_id,liked_post_user_id,liked_post_time) VALUES
(0,5,200000005,'2023-05-01 00:02:00');
INSERT INTO liked_post(liked_post_id,liked_post_create_id,liked_post_user_id,liked_post_time) VALUES
(1,5,200000004,'2023-05-01 00:03:00');
/*收藏*/
INSERT INTO collect(collect_id,collect_create_id,collect_user_id,collect_time,collect_sig,collect_favorites) VALUES
(0,5,200000006,'2022-05-01','',2);

 * mysql://stu2000013094:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

提供查询各表全部信息的sql语句

In [27]:
%%sql
desc user_bi;
select * from user_bi;

 * mysql://stu2000013094:***@162.105.146.37:43306
10 rows affected.
6 rows affected.

[(200000001, 'bilibili知名用户', '北京', '商务合作联系：xxxxxxxx', '不透露', 1021, 102, 3, 1, 1),
 (200000002, 'bilibili简单创作用户', '浙江', '咕咕咕', '男', 715, 500, 1, 0, 1),
 (200000003, 'bilibili最爱抽奖用户', '广东', '这个人很懒，什么都没有留下', '男', 308, 2000, 0, 0, 1),
 (200000004, 'bilibili生活区up主', '江苏', 'sharing lives', '女', 924, 276, 4, 1, 2),
 (200000005, 'bilibili著名歌手', '上海', '知名歌手，代表作「Cyberangel」等', '女', 671, 84, 3, 1, 2),
 (200000006, 'bilibili评论区up主', '黑龙江', '', '不透露', 779, 894, 1, 0, 0)]

In [28]:
%%sql
desc fans;
select * from fans;

 * mysql://stu2000013094:***@162.105.146.37:43306
4 rows affected.
12 rows affected.

[(200000001, 200000002, datetime.date(2020, 5, 1), ''),
 (200000001, 200000003, datetime.date(2020, 5, 7), ''),
 (200000001, 200000005, datetime.date(2020, 9, 1), ''),
 (200000002, 200000003, datetime.date(2020, 3, 17), ''),
 (200000004, 200000002, datetime.date(2020, 12, 9), ''),
 (200000004, 200000003, datetime.date(2020, 11, 27), ''),
 (200000004, 200000005, datetime.date(2020, 8, 3), ''),
 (200000004, 200000006, datetime.date(2020, 4, 26), 'S'),
 (200000005, 200000003, datetime.date(2020, 9, 9), ''),
 (200000005, 200000004, datetime.date(2020, 8, 11), ''),
 (200000005, 200000006, datetime.date(2020, 5, 31), 'F'),
 (200000006, 200000003, datetime.date(2020, 11, 11), '')]

In [29]:
%%sql
desc message;
select * from message;

 * mysql://stu2000013094:***@162.105.146.37:43306
6 rows affected.
7 rows affected.

[(0, 'text', datetime.datetime(2020, 12, 9, 19, 30), '感谢你的关注呀，这里是……', 200000004, 200000002),
 (1, 'text', datetime.datetime(2020, 11, 27, 10, 0), '感谢你的关注呀，这里是……', 200000004, 200000003),
 (2, 'text', datetime.datetime(2020, 4, 26, 11, 0), '感谢你的关注呀，这里是……', 200000004, 200000006),
 (3, 'text', datetime.datetime(2020, 8, 3, 18, 0), '感谢你的关注呀，这里是……', 200000004, 200000005),
 (4, 'text', datetime.datetime(2021, 4, 9, 12, 48), '转发成功，恭喜您参与了抽奖', 200000001, 200000003),
 (5, 'link', datetime.datetime(2021, 4, 11, 19, 30), '恭喜你在XXXX活动中抽到了XXXX福袋一份，请点击链接填写信息', 200000001, 200000003),
 (6, 'img', datetime.datetime(2022, 1, 1, 0, 0), 'photo: happy new year', 200000005, 200000004)]

In [30]:
%%sql
desc post;
select * from post;

 * mysql://stu2000013094:***@162.105.146.37:43306
8 rows affected.
7 rows affected.

[(0, '我发表了一首歌，快来听听吧', datetime.datetime(2022, 5, 1, 0, 0), 200000005, 'video', 2, 0, 4),
 (1, '转发动态，参与抽奖', datetime.datetime(2022, 3, 1, 17, 0), 200000003, 'link', 0, 0, 0),
 (2, '南锣鼓巷旅游指南', datetime.datetime(2022, 4, 5, 19, 30), 200000004, 'article', 1, 0, 0),
 (3, '我要好好学习，一定在这几天把实习写完', datetime.datetime(2023, 4, 2, 21, 30), 200000002, 'text', 0, 0, 0),
 (4, '今天也是精致打扮的up呢', datetime.datetime(2022, 5, 5, 13, 30), 200000005, 'img', 1, 0, 0),
 (5, '视频：新年快乐', datetime.datetime(2022, 12, 31, 0, 0), 200000001, 'video', 2, 0, 0),
 (6, '转发这条动态，我们将抽出一名幸运儿获得福袋', datetime.datetime(2022, 2, 28, 15, 0), 200000004, 'text', 0, 0, 0)]

In [31]:
%%sql
desc favorites;
select * from favorites;

 * mysql://stu2000013094:***@162.105.146.37:43306
5 rows affected.
3 rows affected.

[(0, 'song', datetime.datetime(2020, 1, 9, 0, 0), 'public', 200000005),
 (1, 'study method', datetime.datetime(2021, 9, 9, 0, 0), 'private', 200000003),
 (2, '我喜欢的视频', datetime.datetime(2021, 11, 29, 0, 0), 'public', 200000006)]

In [32]:
%%sql
desc creation;
select * from creation;

 * mysql://stu2000013094:***@162.105.146.37:43306
10 rows affected.
3 rows affected.

[(0, 'BV1v4411A7oj', 'video', datetime.datetime(2022, 5, 1, 0, 0), 'bilibili/video/BV1v4411A7oj', 4, 2, 2, 200000005, 0),
 (1, 'cv204157', 'article', datetime.datetime(2022, 4, 5, 19, 30), 'bilibili/read/cv204157', 1, 0, 1, 200000004, 2),
 (2, 'BV1fP4y1v7eU', 'video', datetime.datetime(2022, 12, 31, 0, 0), 'bilibili/video/BV1fP4y1v7eU', 5, 1, 1, 200000001, 5)]

In [33]:
%%sql
desc video;
select * from video;

 * mysql://stu2000013094:***@162.105.146.37:43306
5 rows affected.
2 rows affected.

[(0, 'song', 100000, 7, 2), (2, 'news', 10000000, 4, 2)]

In [34]:
%%sql
desc article;
select * from article;

 * mysql://stu2000013094:***@162.105.146.37:43306
3 rows affected.
1 rows affected.

[(1, '生活', 5000)]

In [35]:
%%sql
desc comment;
select * from comment order by belong_create_id;

 * mysql://stu2000013094:***@162.105.146.37:43306
5 rows affected.
4 rows affected.

[(0, '好听，喜欢！', datetime.datetime(2022, 5, 1, 8, 0), 0, 200000004),
 (1, '好耶，是新的歌曲！让我们一起感受……', datetime.datetime(2022, 5, 1, 1, 0), 0, 200000006),
 (0, '感谢up主的分享，文章很有用！【赞】', datetime.datetime(2022, 5, 1, 19, 1), 1, 200000002),
 (0, '新年快乐！', datetime.datetime(2023, 1, 1, 1, 1), 2, 200000004)]

In [36]:
%%sql
desc share;
select * from share order by belong_create_id;

 * mysql://stu2000013094:***@162.105.146.37:43306
6 rows affected.
3 rows affected.

[(0, '大家一起来听新歌呀', datetime.datetime(2022, 5, 2, 12, 0), 'b站', 0, 200000004),
 (1, '今天就去了这个地方，很棒的攻略！', datetime.datetime(2022, 5, 1, 20, 0), '微博', 0, 200000002),
 (0, '新年快乐，万事如意', datetime.datetime(2023, 1, 1, 0, 0), '微信', 2, 200000002)]

In [37]:
%%sql
desc coin;
select * from coin order by belong_create_id;

 * mysql://stu2000013094:***@162.105.146.37:43306
5 rows affected.
6 rows affected.

[(0, 2, datetime.datetime(2022, 5, 2, 1, 0), 0, 200000002),
 (1, 1, datetime.datetime(2022, 5, 1, 2, 0), 0, 200000003),
 (2, 2, datetime.datetime(2022, 5, 1, 3, 0), 0, 200000004),
 (3, 2, datetime.datetime(2022, 5, 1, 5, 0), 0, 200000006),
 (0, 2, datetime.datetime(2023, 1, 1, 1, 0), 2, 200000002),
 (1, 2, datetime.datetime(2023, 1, 1, 5, 0), 2, 200000005)]

In [38]:
%%sql
desc barrage;
select * from barrage order by belong_create_id;

 * mysql://stu2000013094:***@162.105.146.37:43306
7 rows affected.
4 rows affected.

[(0, '好听，喜欢！', datetime.datetime(2022, 5, 1, 8, 0), 'red', 12, 0, 200000004),
 (1, '新歌，喜欢！', datetime.datetime(2022, 5, 1, 9, 0), 'yellow', 14, 0, 200000006),
 (0, '大家新年快乐', datetime.datetime(2023, 1, 1, 1, 0), 'red', 12, 2, 200000004),
 (1, '大家新年快乐', datetime.datetime(2023, 1, 1, 1, 1), 'red', 12, 2, 200000005)]

In [39]:
%%sql
desc liked;
select * from liked order by liked_create_id;

 * mysql://stu2000013094:***@162.105.146.37:43306
4 rows affected.
10 rows affected.

[(0, 0, 200000002, datetime.datetime(2022, 5, 1, 8, 1)),
 (1, 0, 200000003, datetime.datetime(2022, 5, 1, 8, 2)),
 (2, 0, 200000004, datetime.datetime(2022, 5, 1, 8, 3)),
 (3, 0, 200000006, datetime.datetime(2022, 5, 1, 8, 4)),
 (0, 1, 200000006, datetime.datetime(2022, 5, 1, 19, 0)),
 (0, 2, 200000002, datetime.datetime(2023, 1, 1, 0, 0)),
 (1, 2, 200000003, datetime.datetime(2023, 1, 1, 0, 1)),
 (2, 2, 200000004, datetime.datetime(2023, 1, 1, 0, 2)),
 (3, 2, 200000005, datetime.datetime(2023, 1, 1, 0, 3)),
 (4, 2, 200000006, datetime.datetime(2023, 1, 1, 0, 4))]

In [40]:
%%sql
desc share_post;
select * from share_post order by belong_post_id;

 * mysql://stu2000013094:***@162.105.146.37:43306
6 rows affected.
4 rows affected.

[(0, '大家一起来听新歌呀', datetime.datetime(2022, 5, 2, 12, 0), 'b站', 0, 200000004),
 (0, '转发动态，参与抽奖', datetime.datetime(2022, 3, 1, 17, 0), 'b站', 1, 200000003),
 (0, '今天就去了这个地方，很棒的攻略！', datetime.datetime(2022, 5, 1, 20, 0), 'b站', 2, 200000002),
 (0, '新年快乐，万事如意', datetime.datetime(2023, 1, 1, 0, 0), 'b站', 5, 200000002)]

In [41]:
%%sql
desc liked_post;
select * from liked_post order by liked_post_create_id;

 * mysql://stu2000013094:***@162.105.146.37:43306
4 rows affected.
6 rows affected.

[(0, 0, 200000002, datetime.datetime(2022, 5, 1, 8, 0)),
 (1, 0, 200000006, datetime.datetime(2022, 5, 1, 8, 3)),
 (0, 2, 200000006, datetime.datetime(2022, 5, 1, 20, 4)),
 (0, 4, 200000004, datetime.datetime(2022, 5, 6, 8, 1)),
 (0, 5, 200000005, datetime.datetime(2023, 5, 1, 0, 2)),
 (1, 5, 200000004, datetime.datetime(2023, 5, 1, 0, 3))]

In [42]:
%%sql
desc collect;
select * from collect order by collect_create_id;

 * mysql://stu2000013094:***@162.105.146.37:43306
6 rows affected.
1 rows affected.

[(0, 5, 200000006, datetime.datetime(2022, 5, 1, 0, 0), '', 2)]

## 四、业务功能实现（SQL语句）
我们已经完成了关系表的创建，并插入了数据，现在我们借助PyMySQL，使用SQL语句来实现增删改查操作。
以下共列举了9种操作的方法：查看用户全部关注所发布的动态、用户投稿视频、用户给视频投币、用户收藏专栏、查看用户全部创作内容、用户关注另一用户、用户给另一用户发送私信、用户被注销账号、用户删除弹幕

In [43]:
db = pymysql.connect(host='162.105.146.37', user='stu2000013094', password='stu2000013094', port=43306, db="stu2000013094")
cursor = db.cursor()

In [44]:
# 1. 查看用户所有关注用户发布的全部动态
user_id = '200000006'

sql = '''select * from post
    where post_author_id in (select user_id_up from fans
            where user_id_fans = %s)
    order by post_time desc;'''# 根据哔哩哔哩实际使用情况，这里按照时间降序显示
try:
    cursor.execute(sql, (user_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

((4, '今天也是精致打扮的up呢', datetime.datetime(2022, 5, 5, 13, 30), 200000005, 'img', 1, 0, 0), (0, '我发表了一首歌，快来听听吧', datetime.datetime(2022, 5, 1, 0, 0), 200000005, 'video', 2, 0, 4), (2, '南锣鼓巷旅游指南', datetime.datetime(2022, 4, 5, 19, 30), 200000004, 'article', 1, 0, 0), (6, '转发这条动态，我们将抽出一名幸运儿获得福袋', datetime.datetime(2022, 2, 28, 15, 0), 200000004, 'text', 0, 0, 0))

In [45]:
# 2. 用户发布视频
cr_content = 'BV1gd4y1n7pY'
cr_type = 'video'
cr_time = '2023-04-23 18:00:00'
trans_link = 'bilibili/video/' + cr_content
author_id = 200000004
ps_content = '视频：期中考vlog'

# 首先获取最小空缺的create_id和post_id
sql_crid = '''select case
    when not exists
        (select create_id from creation where create_id = 0)
    then 0
    else (select min(create_id + 1) from creation t1
        where not exists
            (select create_id from creation t2
            where t1.create_id + 1 = t2.create_id))
    end;'''
sql_psid = '''select case
    when not exists
        (select post_id from post where post_id = 0)
    then 0
    else (select min(post_id + 1) from post t1
        where not exists
            (select post_id from post t2
            where t1.post_id + 1 = t2.post_id))
    end;'''
try:
    cursor.execute(sql_crid)
    crid = cursor.fetchall()[0][0]
    cursor.execute(sql_psid)
    psid = cursor.fetchall()[0][0]
    db.commit()
    
    # 用户发布视频涉及三个表：创作内容表，视频表，动态表
    # 创作内容表和视频表新增一条是显然的
    # 用户发布视频时系统会自动生成一条动态，因此动态表也需要新增一条
    sql1 = '''INSERT INTO creation(create_id, create_content, create_type, create_time, trans_link, create_recv_like, create_recv_share, create_recv_comment, create_author_id, create_post_id)
        VALUES (%s, %s, %s, %s, %s, 0, 0, 0, %s, %s);'''
    sql2 = '''INSERT INTO video(video_id, video_classify, video_watch_num, video_recv_coin, video_recv_barrage)
        VALUES (%s, %s, 0, 0, 0);'''
    sql3 = '''INSERT INTO post(post_id, post_content, post_time, post_author_id, post_type, post_like_recv, post_comment_recv, post_share_recv)
        VALUES (%s, %s, %s, %s, %s, 0, 0, 0);'''
    try:
        cursor.execute('set @@foreign_key_checks = 0;')
        cursor.execute(sql1, (crid, cr_content, cr_type, cr_time, trans_link, author_id, psid))
        cursor.execute(sql2, (crid, cr_type))
        cursor.execute(sql3, (psid, ps_content, cr_time, author_id, cr_type))# 时间和类型均与创作内容表相同
        cursor.execute('set @@foreign_key_checks = 1;')
        db.commit()
    except:
        db.rollback()
except:
    db.rollback()

# 检验是否创建成功，真正运行时可忽略
sql_check1 = '''select * from creation where create_id = %s;'''
sql_check2 = '''select * from video where video_id = %s;'''
sql_check3 = '''select * from post where post_id = %s'''
try:
    cursor.execute(sql_check1, (crid))
    print(cursor.fetchall())
    cursor.execute(sql_check2, (crid))
    print(cursor.fetchall())
    cursor.execute(sql_check3, (psid))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

((3, 'BV1gd4y1n7pY', 'video', datetime.datetime(2023, 4, 23, 18, 0), 'bilibili/video/BV1gd4y1n7pY', 0, 0, 0, 200000004, 7),)
((3, 'video', 0, 0, 0),)
((7, '视频：期中考vlog', datetime.datetime(2023, 4, 23, 18, 0), 200000004, 'video', 0, 0, 0),)

In [46]:
# 3. 用户给视频投币
user_id = 200000001
coin_num = 2
coin_work = 0
coin_time = '2023-04-23 20:36:53'

# 首先获取最小空缺的coin_id，检查用户有没有足够的硬币数量，检查是否重复投币
sql_coinid = '''select case
    when not exists
        (select * from user_bi where user_id = %s and user_coin_num >= %s)
    then -1
    when exists
        (select * from coin where coin_user_id = %s and belong_create_id = %s)
    then -1
    when not exists
        (select * from coin where coin_id = 0 and belong_create_id = %s)
    then 0
    else (select min(coin_id + 1) from coin t1
        where t1.belong_create_id = %s and not exists
            (select coin_id from coin t2
            where t1.coin_id + 1 = t2.coin_id and t2.belong_create_id = t1.belong_create_id))
    end;'''

try:
    cursor.execute(sql_coinid, (user_id, coin_num, user_id, coin_work, coin_work, coin_work))
    coin_id = cursor.fetchall()[0][0]
    db.commit()
    
    # 用户投币涉及两件事情：投币表新增条目、用户减少相应数量的硬币
    # 用户必须拥有足够的硬币才能投币
    # 由于设计了触发器，其他表格的更新会自动完成
    if coin_id != -1:
        sql1 = '''INSERT INTO coin(coin_id, coin_number, coin_time, belong_create_id, coin_user_id)
            VALUES (%s, %s, %s, %s, %s);'''
        sql2 = '''update user_bi
            set user_coin_num = user_coin_num - %s
            where user_id = %s'''
        try:
            cursor.execute(sql1, (coin_id, coin_num, coin_time, coin_work, user_id))
            cursor.execute(sql2, (coin_num, user_id))
            db.commit()
        except:
            db.rollback()
except:
    db.rollback()
    
# 检验是否运行成功，真正运行时可忽略
sql_check1 = '''select * from coin where coin_id = %s and belong_create_id = %s;'''
sql_check2 = '''select user_id, user_coin_num from user_bi where user_id = %s;'''
try:
    cursor.execute(sql_check1, (coin_id, coin_work))
    print(cursor.fetchall())
    cursor.execute(sql_check2, (user_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

((4, 2, datetime.datetime(2023, 4, 23, 20, 36, 53), 0, 200000001),)
((200000001, 1019),)

In [47]:
# 4. 用户收藏专栏
user_id = 200000003
fav_id = 1
art_id = 1
collect_time = '2023-04-23 19:12:43'
sig = 'Good'

# 首先获取最小空缺的collect_id，检查是否是收藏夹创建者，检查是否重复收藏
sql_collectid = '''select case
    when not exists
        (select * from favorites where favorites_id = %s and owner_id = %s)
    then -1
    when exists
        (select * from collect where collect_user_id = %s and collect_create_id = %s and collect_favorites = %s)
    then -1
    when not exists
        (select * from collect where collect_id = 0 and collect_create_id = %s)
    then 0
    else (select min(collect_id + 1) from collect t1
        where t1.collect_create_id = %s and not exists
            (select collect_id from collect t2
            where t1.collect_id + 1 = t2.collect_id and t2.collect_create_id = t1.collect_create_id))
    end;'''
try:
    cursor.execute(sql_collectid, (fav_id, user_id, user_id, art_id, fav_id, art_id, art_id))
    collect_id = cursor.fetchall()[0][0]
    db.commit()
    
    # 用户收藏专栏需要在收藏表里新增一个条目
    # 由于设计了触发器，其他表格的更新会自动完成
    if collect_id != -1:
        sql = '''INSERT INTO collect(collect_id, collect_create_id, collect_user_id, collect_time, collect_sig, collect_favorites)
            VALUES (%s, %s, %s, %s, %s, %s);'''
        try:
            cursor.execute(sql, (collect_id, art_id, user_id, collect_time, sig, fav_id))
            db.commit()
        except:
            db.rollback()
except:
    db.rollback()
    
# 检验是否运行成功，真正运行时可忽略
sql_check = '''select * from collect where collect_id = %s and collect_create_id = %s;'''
try:
    cursor.execute(sql_check, (collect_id, art_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

((0, 1, 200000003, datetime.datetime(2023, 4, 23, 19, 12, 43), 'Good', 1),)

In [48]:
# 5. 查询用户的全部创作内容
user_id = 200000004

sql = '''select * from creation
    where create_author_id = %s'''
try:
    cursor.execute(sql, (user_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

((1, 'cv204157', 'article', datetime.datetime(2022, 4, 5, 19, 30), 'bilibili/read/cv204157', 1, 0, 1, 200000004, 2), (3, 'BV1gd4y1n7pY', 'video', datetime.datetime(2023, 4, 23, 18, 0), 'bilibili/video/BV1gd4y1n7pY', 0, 0, 0, 200000004, 7))

In [49]:
# 6. 用户关注另一用户
fan_id = 200000004
up_id = 200000003
fan_date = '2023-04-23'
sig = ''

sql = '''INSERT INTO fans(user_id_up, user_id_fans, focus_time, sig)
    VALUE(%s, %s, %s, %s);'''
try:
    cursor.execute(sql, (up_id, fan_id, fan_date, sig))
    db.commit()
except:
    db.rollback()
    
# 检验是否运行成功，真正运行时可忽略
sql_check1 = '''select * from fans where user_id_up = %s and user_id_fans = %s;'''
sql_check2 = '''select user_id, user_fans_num from user_bi where user_id = %s;'''
try:
    cursor.execute(sql_check1, (up_id, fan_id))
    print(cursor.fetchall())
    cursor.execute(sql_check2, (up_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

((200000003, 200000004, datetime.date(2023, 4, 23), ''),)
((200000003, 1),)

In [50]:
# 7. 用户给另一用户发送私信
send_id = 200000003
recv_id = 200000006
msg_time = '2023-04-23 21:00:03'
msg_type = 'link'
text = '恭喜你在XXXX活动中抽到了iphone14 promax一台，请点击链接填写信息'

# 首先获取最小空缺的msg_id
sql_msgid = '''select case
    when not exists
        (select * from message where msg_id = 0)
    then 0
    else (select min(msg_id + 1) from message t1
        where not exists
            (select msg_id from message t2
            where t1.msg_id + 1 = t2.msg_id))
    end;'''
try:
    cursor.execute(sql_msgid)
    msg_id = cursor.fetchall()[0][0]
    db.commit()
    
    sql = '''INSERT INTO message(msg_id, msg_type, msg_time, msg_content, send_user_id, recv_user_id)
        VALUES(%s, %s, %s, %s, %s, %s);'''
    try:
        cursor.execute(sql, (msg_id, msg_type, msg_time, text, send_id, recv_id))
        db.commit()
    except:
        db.rollback()
except:
    db.rollback()
    
# 检查是否运行成功，实际运行时可忽略
sql_check = '''select * from message where msg_id = %s;'''
try:
    cursor.execute(sql_check, (msg_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

((7, 'link', datetime.datetime(2023, 4, 23, 21, 0, 3), '恭喜你在XXXX活动中抽到了iphone14 promax一台，请点击链接填写信息', 200000003, 200000006),)

In [51]:
# 8. 用户被注销账户
user_id = 200000002

# 事实上，B站用户被注销账户后，除了头像、用户名、等级、签名等信息被抹除，关注信息、私信甚至投稿仍被保留
# 因此，用户被注销账户，实际上是一个修改操作
sql = '''update user_bi
    set user_name = '账户已注销', user_area = '未知', user_sig = '这个人很神秘，什么都没有写', user_gender = '不透露'
    where user_id = %s;'''
try:
    cursor.execute(sql, (user_id))
    db.commit()
except:
    db.rollback()
    
# 查询是否运行成功，实际运行时可忽略
sql_check = '''select * from user_bi where user_id = %s;'''
try:
    cursor.execute(sql_check, (user_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

((200000002, '账户已注销', '未知', '这个人很神秘，什么都没有写', '不透露', 715, 500, 1, 0, 1),)

In [52]:
# 9. 用户删除弹幕
user_id = 200000004
bar_id = 0
create_id = 2

# 用户删除弹幕需要从弹幕表删除一条
# 由于设计了触发器，其他表格的更新会自动完成
# 显然，用户只能删除真实存在的、自己发送的弹幕
sql = '''delete from barrage where barrage_id = %s and belong_create_id = %s and barrage_user_id = %s;'''
try:
    cursor.execute(sql, (bar_id, create_id, user_id))
    db.commit()
except:
    db.rollback()
    
# 查询是否删除成功，实际运行时可忽略
sql_check = '''select * from barrage where barrage_id = %s and belong_create_id = %s;'''
try:
    cursor.execute(sql_check, (bar_id, create_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

()